apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
  labels:
    app: spring-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - name: spring-container
          image: sumduncan06/spring-backend:v4.1.2
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: microservice-config
